*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', "sans-serif";
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(303.jpg);
    background-position:center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.text-box h1{
    font-size: 70px;
}
.text-box p{
    margin: 5px 0 20px;
    font-size: 20px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #ebc404;
    background: #ebc404;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    }
    
    nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    }  
    
    .nav-links ul{
    padding: 30px;
    }
}

.course {
    font-family:  'Times New Roman', Times, serif;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-family:  'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 5px;
}

.course p{
    font-family:  'Times New Roman', Times, serif;
    color: #100d0d;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3{
    font-family:  'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.4);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
        }
}

.foter {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: -10px;
    background: #fbfbfb;
}

.new_footer_area {
    background: #fbfbfd;
    padding-top: 5px;
    padding-bottom: 50px;
}

.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 30px;
    border-width: 1px;
    margin-top: 10px;
}

.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
}
  
@-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
}
  
@keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
}

.about {
    padding-top:30px;
    min-height:100%;
    text-align:center;

}

.headline {
    text-align: center;
}

.headline h1 {
    font-size:35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#ff0000;
}

.headline p {
    font-weight: 300;
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#000;
}

.social-buttons{
    background: rgba(256,256,256,0.5);
    padding:20px;
    padding-bottom: 5px;
    text-align:center;
    margin:20px 10px;
}

.social-margin {
    margin-right: 15px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.social-icon {
    margin-bottom: 15px;
     box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
}

.social-icon:hover {
      transform: rotate(360deg)scale(1.3);
}

.facebook {
    font-size: 22px;
    padding-top: 9px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: #ffffff;
   
}
.facebook:hover {
    background-color: #ffffff;
    color: #3b5998;
}

.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #55acee;
    background-color: #55acee;
    color: #ffffff;
    
}
.twitter:hover {
    background-color: #ffffff;
    color: #55acee;
}

.pinterest {
    font-size: 22px;
    padding-top: 9px;
    background-color:  #cb2027;
    color: #ffffff;
    border-color:  #cb2027;
    
}
pinterest:hover {
    background-color: #ffffff;
    color:  #cb2027;
}

.behance {
    font-size: 22px;
    padding-top: 9px;
    background-color: #1769ff;
    color: #ffffff;
    border-color: #1769ff;
    
}
.behance :hover {
    background-color: #ffffff;
    color: #1769ff;
}

.youtube {
    font-size: 22px;
    padding-top: 9px;
    padding-left: 0px;
    background-color: #bb0000;
    color: #ffffff;
    border-color: #bb0000;
    
}
.youtube  :hover {
    background-color: #ffffff;
    color: #bb0000;
}

.linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #0976b4;
    color: #ffffff;
    border-color: #0976b4;
    
}
.linkedin :hover {
    background-color: #ffffff;
    color: #0976b4;
}